<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="/public/img/favicon.png"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content="share.jpg"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta property="fb:app_id" content=""/>

    <link rel="stylesheet" href="/public/css/main-{{build-hash}}.css">
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{{body}}}

    <script src="/public/js/main-{{build-hash}}.js"></script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
